<!DOCTYPE html>
<html>
<head>
  <title>Transaction Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" href="favicon.ico" />
</head>

<body>
<div id="main"></div>
<script src="http://localhost:8080/js/app.js"></script>
</body>
</html>
