@global_font_size: 14px;

html {
  overflow-y: scroll;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  display: table;
  font-size: @global_font_size;
  text-align: left;
  td, th {
    padding: 3px 10px;
  }
}

th {
  text-transform: capitalize;
}

select {
  min-width: 120px;
}

.import-dialog {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.dropzone {
  width: 90%;
  height: 300px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  background-color: #eeeeee;
  &:hover {
    background-color: #dddddd;
  }
}

.dropzone-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.addCategoryForm {
  margin-bottom: 15px;
  button {
    margin-left: 5px;
  }
}

.stuff-list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  li {
    margin: 0;
  }
}

.filter-container {
  margin-bottom: 30px;
  position: relative;
  .merchant-search {
    display: inline;
  }
  .type-filter {
    float: right;
    display: inline;
  }
}
